= form_for @reservation, class: "form-horizontal" do |f|
  - if @reservation.errors.any?
    #error_explanation
      %ul
        - @reservation.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Table #"
    = f.select :table_number, 1..10, class: "table_num form-control"
    = f.label "Date"
    = f.text_field :start_at_date, class: "datepicker form-control"
    = f.label "From "
    = f.text_field :start_at_time, class: "timepicker form-control"
    = f.label "To "
    = f.text_field :end_at_time, class: "timepicker form-control"
  .field
    = f.label :name
    = f.text_field :name, class: "form-control"
    = f.label :phone
    = f.text_field :phone, class: "form-control"
  .field
    = f.submit 'Reserve', class: "btn btn-success"

  .field.restaurant-map
    - 12.times do |i|
      .rest-table{value: (i+1)}
        .table-numb= "# #{i+1}" 